html {
    font-family : Consolas;
    font-size : 70%
}

h1 {
    text-align: center
}

h2 {
    margin : 50px 
}


div.carre_droite
{
    margin-left: 320px;
    width: 400px; 
      
}
div.carre_gauche
{
    float: left;  
    background-color: grey;
    width: 300px ;
    height: 900px;  
}

div.image{
    text-align: center;
    margin-top: 20px;
}

div.contact {
    text-align: center;
}

div.pp {
    margin : 30px ;
}

div.h2_droite {
    background-color: grey;
}