html {
    font-family : Consolas;
    font-size : 70%
}

h1 {
    text-align: center
}

h2 {
    margin : 50px 
}

div.carre_gauche{
    height: 800px;
    width: 300px;
    background-color: aqua;
    float: left;
}

div.carre_droite{
    height: 600px;
    width: 400px ;
    float: right;
}