html {
    font-family : Consolas;
    font-size : 70%
}

h1 {
    text-align: center
}

h2 {
    margin : 50px 
}

}
div.carre_droite
{
    margin-left: 410px;
    width: 400px; 
      
}
div.carre_gauche
{
    float: left;  
    background-color: grey;
    width: 400px ;
    height: 900px;  
}

img{
    margin-left: auto;
    margin-top: auto;
}

div.contact {
    text-align: center;
}